
*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}

@media screen and (min-width:768px) {
    #icone_burguer{
        display:none;
    }
    menu{
        display: block;
    }
    .lista{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
    }
    .lista__link{
        list-style: none;
        background-color:rgb(87, 87, 87);
        padding: 2px;
        
       
    }
    .lista__link-botao{
        text-decoration: none;
        color: white;
        
    }
    main{
        width: 768px;
    }
}
/* 
body{
    background-color: rgba(169, 169, 169, 0.715);
}

.cabecalho{
    background-color: rgb(135, 135, 135);
    margin-bottom: 10px;
    
}
.titulo{
    text-align: center;
    padding: 5px;
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.lista__link{
    list-style: none;
    background-color:rgb(87, 87, 87);
    padding: 2px;
    
    padding: 5px;
}
.lista__link-botao{
    text-decoration: none;
    color: white;
    
}
.lista__link:hover{
    background-color: rgb(176, 176, 176);
    
}
.lista__link-botao:hover{
    color: black;
}

main{
    width:90vw;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

}
.texto{
    padding: 10px;
    
} */